host/venv
target/venv
target/.pytest_cache/
host/results
host/logs/*
host/deactivate
Python-3.9.1
Python-3.9.1.tgz
host/state
host/utils/logs
host/uartLogger/venv
host/utilis/venv
host/utilis/logs_power_button

test.json

Python-3.9.9
